// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
$font-family-sans-serif:  'Open Sans', sans-serif;

// Colors
$white-color: #fff;
$black-color : #000;
$rr-color: #3973b9;

$brand-primary : $rr-color;
