// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$font-family-sans-serif:  'Montserrat', sans-serif;

// Colors
$white-color: #fff;
$black-color : #000;
$rr-color: #3973b9;

$brand-primary : $rr-color;
