.navbar-brand {
  height: auto;
  padding-right: 30px;
}

.navbar-nav > li {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-nav > li > a {
  padding: 30px 15px;
  text-transform: uppercase;
  font-weight: 500;
}
