.home {
  width: 100%;
  border-bottom: 1px solid $rr-color;
}

.about-me {
  @media screen and (min-width: $screen-lg-min){
    @include retina('../images/home/bg-about-me.png', 2, 33% auto, right top no-repeat);
  }
}

.about-me-inner {
  @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max){
    @include retina('../images/home/bg-about-me.png', 2, auto 100%, right center no-repeat);
  }
}

.particles{
  height: 50vh;
  width: 100%;
  min-height: 320px;
}

.description {
  padding: 30px 0 120px;
  @media screen and (min-width: $screen-sm-min){
    min-height: 224px;
    height: 35vh;
  }
}

.scroll {
  @media screen and (min-width: $screen-sm-min){
    min-height: 96px;
    height: 15vh;
  }
}

.icon-scroll{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.author {
  font-size: 5.7em;
  line-height: 1em;
  font-weight: 700;
  margin: 0;
  position: absolute;
  bottom: -0.15em;
  font-family: 'DIN Pro Condensed Medium';
  color: $white-color;
}

.post {
  font-size: 3em;
  line-height: 1em;
  font-weight: 700;
  margin-top: 0;
  opacity:0;
}

.post.animate{
  animation: post 0.8s ease-in-out 1 both;
}

#particles-js {
  @include retina('../images/home/bg-homepage.png', 2, cover, center center no-repeat);
  height: 100%;
}

@keyframes show {
  0% {
    opacity:0;
    // transform: translateY(-10px);
  }
  100% {
    opacity:1;
    // transform: translateY(0);
  }
}

@keyframes post {
  0% {
    opacity:0;
    transform: translateY(-25px);
  }

  100% {
    opacity:1;
    transform: translateY(0);
  }
}


.hideme {
  opacity:0;
  @media screen and (max-width: $screen-xs-max){
    opacity:1;
  }
}

.show {
  opacity: 1;
  @media screen and (min-width: $screen-sm-min){
    animation: show 0.5s 0.3s ease-in-out 1 both;
  }
}

@for $i from 1 through 2 {
  .hideme.show div[class^="col"]:nth-child(#{$i}) {
    @media screen and (min-width: $screen-sm-min){
      animation: show 0.5s #{$i*0.1+0.6}s ease-in-out 1 both;
    }
  }
}

.btn-lg{
  font-weight: 500;
  border: 1px solid lighten($rr-color, 25%);
  border-radius: 0;
  @include transition(all);
  font-family: 'DIN Pro Condensed Medium';
}
