.home {
  width: 100%;
  // border-bottom: 1px solid $rr-color;
  background-color: $white-color;
}

.about-me {
  @media screen and (min-width: $screen-lg-min){
    @include retina('../images/home/bg-about-me.png', 2, 33% auto, right top no-repeat);
  }
}

.about-me-inner {
  @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max){
    @include retina('../images/home/bg-about-me.png', 2, auto 100%, right center no-repeat);
  }
}

.particles{
  height: 40vh;
  width: 100%;
  min-height: 256px;
}

.localisation {
  @media screen and (min-width: $screen-sm-min){
    min-height: 64px;
    height: 10vh;
  }

  p{
    color: $gray-light;
  }

  span.fa {
    font-size: 1.2em;
  }

  .icons-social{
    font-size: 1.2em;

    li {
      margin-right: 10px;
      a {
        color: $gray-light;
      }
      &:last-child {
        margin-right: 0px;
      }

    }
  }
}

.paragraph {
  background-color: $rr-color;
  @include box-shadow(0 3px 15px rgba(0, 0, 0, 0.15));
  padding: 30px 30px 5px;

  @media screen and (min-width: $screen-md-min){
    position: relative;
    bottom: 90px;
  }
}

.description {
  padding: 30px 0;
  @media screen and (min-width: $screen-md-min){
    min-height: 224px;
    height: 35vh;
  }
}

.scroll {
  @media screen and (min-width: $screen-md-min){
    min-height: 96px;
    height: 15vh;
  }
}

.icon-scroll{

  margin: auto;
  // @media screen and (min-width: $screen-md-min){
  //   position: absolute;
  //   left: 50%;
  //   transform: translate(-50%, 0%);
  // }
}

.author {
  font-size: 5.7em;
  line-height: 1em;
  font-weight: 700;
  margin: 0;
  position: absolute;
  bottom: -8px;
  font-family: 'DIN Pro Condensed Medium';
  color: $white-color;
}

.post {
  font-size: 3em;
  line-height: 1em;
  font-weight: 700;
  margin-top: 0;
  opacity:0;
}

.post.animate{
  animation: post 0.8s ease-in-out 1 both;
}

#particles-js {
  @include retina('../images/home/bg-homepage.png', 2, cover, center center no-repeat);
  height: 100%;
}

@keyframes show {
  0% {
    opacity:0;
    // transform: translateY(-10px);
  }
  100% {
    opacity:1;
    // transform: translateY(0);
  }
}

@keyframes post {
  0% {
    opacity:0;
    transform: translateY(-25px);
  }

  100% {
    opacity:1;
    transform: translateY(0);
  }
}


.hideme {
  opacity:0;
  @media screen and (max-width: $screen-xs-max){
    opacity:1;
  }
}

.show {
  opacity: 1;
  @media screen and (min-width: $screen-sm-min){
    animation: show 0.5s 0.3s ease-in-out 1 both;
  }
}

@for $i from 1 through 2 {
  .hideme.show div[class^="col"]:nth-child(#{$i}) {
    @media screen and (min-width: $screen-sm-min){
      animation: show 0.5s #{$i*0.1+0.6}s ease-in-out 1 both;
    }
  }
}

.btn-lg{
  font-weight: 500;
  border: 1px solid lighten($rr-color, 35%);
  border-radius: 0;
  @include transition(all);
  font-family: 'DIN Pro Condensed Medium';
}
