.work-banner{
  padding: 100px 0;
  @include retina('../images/works/bg-works.png', 2, cover, center center no-repeat);
}

.work-body-inner img{
  // width: 50px;
}

.list-tags {
  height: 39px;
  line-height: 39px;
  margin: 0;

  & li {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
  }
}
