.work-banner{
  padding: 50px 0 35px;
  // @include retina('../images/works/bg-works.png', 2, cover, center center no-repeat);
}

.list-tags {
  height: 39px;
  line-height: 39px;
  margin: 0;

  & li {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
  }
}

.list-tools {
  & li{
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 25px;
    margin-right: 10px;
    background-color: darken($white-color, 15%);
    padding: 5px 12px;
    &:last-child{
      margin-right: 0;
    }

    &.photoshop{
      background-color: #00C5E0;
      color: #001F24;
    }

    &.illustrator{
      background-color: #F68F36;
      color: #321904;
    }

  }
}

.work-body-inner hr {
  margin: 15px 0;
}

.work-body-inner img{
  // width: 50px;
}
