@media screen and (min-width: $screen-sm-min){
  .work-tools > div {
    background: white;
    position: relative;
    bottom: 42px;
    padding: 30px 40px 0;
    min-height: 69px;
  }
}

.work-banner{
  padding: 50px 0 35px;
  // @include retina('../images/works/bg-works.png', 2, cover, center center no-repeat);
}

.list-tags {
  height: 39px;
  line-height: 39px;
  margin: 0;

  & li {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
  }
}

.list-tools {
  & li{
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: darken($white-color, 15%);
    padding: 6px 12px;
    &:last-child{
      margin-right: 0;
    }

    &.photoshop{
      background-color: #00C5E0;
      color: #001F24;
    }

    &.illustrator{
      background-color: #F68F36;
      color: #321904;
    }

    &.indesign{
      background-color: #FD6EAC;
      color: #310213;
    }

  }
}

.work-body-inner hr {
  margin: 15px 0;
}

.work-body-inner img{
  // width: 50px;
}

.btn-show {
  font-size: 0.8em;
  font-weight: 600;
  border: 1px solid lighten($rr-color, 25%);
  border-radius: 0;
  @include transition(all);
  border-radius: 25px;

  &:before, &:after {
    margin-top: -2px !important;
  }
}
