@import "../libs/bootstrap-sass/assets/stylesheets/bootstrap.scss";
@import "./mixins.css.scss";
@import "./retina.css.scss";
@import "./fonts.css.scss";

@import "./header.css.scss";
@import "./footer.css.scss";
@import "./home.css.scss";

body {
  // padding-top: 70px;
}

.height-100{
  height: 100%;
}

// Title

h1, h2{
  font-family: 'DIN Pro Condensed Bold';
  text-transform: uppercase;
}

.block {
  background-color: $rr-color;
}
