@import "../libs/bootstrap-sass/assets/stylesheets/bootstrap.scss";
@import "./mixins.css.scss";
@import "./retina.css.scss";
@import "./fonts.css.scss";

@import "./header.css.scss";
@import "./footer.css.scss";

@import "./home.css.scss";
@import "./works.css.scss";

body {
  // padding-top: 70px;
}

.height-100{
  height: 100%;
}

// Title

h1, h2{
  font-family: 'DIN Pro Condensed Bold';
  text-transform: uppercase;
  margin-bottom: 20px;
}

h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}

.block {
  @include box-shadow(0px 1px 3px rgba($black-color, 0.15));
  background-color: $white-color;
  // position: relative;
  @include transition(all);

  &:hover {
    @include box-shadow(0px 8px 15px rgba($black-color, 0.25));
    // bottom: 3px;
    @include transform(translate(0%, -6px));
  }

  a {
    color: $black-color;
    &:hover {
      text-decoration: none;
    }
  }

  .link-work{
    position: relative;
    &:hover {
      text-decoration: none;
    }
  }
  & .link-work:before, & .link-work:after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 50%;
    margin-top: -1.5px;
    background: #fff;
  }
  & .link-work:before{
    left: 0px;
  }
  & .link-work:after{
    right: 0px;
    background: $rr-color;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  &:hover .link-work:before{
    background: $rr-color;
    width: 100%;
    transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  &:hover .link-work:after{
    background: transparent;
    width: 100%;
    transition: 0s;
  }
}
.block-inner {
  padding: 0 15px 15px;
}

// Strikethrough hover

.link {
  position: relative;
  &:hover {
    text-decoration: none;
  }
  &:before, &:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 50%;
    margin-top: -1.5px;
    background: #fff;
  }
  &:before {
    left: 0px;
  }
  &:after {
    right: 0px;
    background: $rr-color;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  &:hover:before {
    background: $rr-color;
    width: 100%;
    transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  &:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }
}

.link.active{
  background-color: $rr-color;
  color: $white-color;
  &:before {
    display: none;
  }
  &:after {
    display: none;
  }
}

.btn-prev ,
.btn-next {
  .fa{
    opacity: 0;
    position: relative;
    @include transition(all);
  }

  &:hover {
    text-decoration: none;
  }
}

.btn-prev {
  &:hover .fa{
    opacity: 1;
    @include transform(translate(-10px, 0%));
  }
}

.btn-next {
  &:hover .fa{
    opacity: 1;
    @include transform(translate(10px, 0%));
  }
}

.pagination {
  padding: 6px 0;
  margin: 0;
}

.text-underline {
  text-decoration: underline;
}
