%script{:src => "https://identity.netlify.com/v1/netlify-identity-widget.js"}

%nav.navbar.navbar-default.navbar-fixed-top
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#NavbarCollapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"}
        %img{:src => image_path('logo.svg'), :width => "50", :height => "50"}/

    / Collect the nav links, forms, and other content for toggling
    #NavbarCollapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        -# %li
        -#   %a.link{:href => "/"} Accueil
        -# %li
        -#   %a.link{:href => "/about-me"} À propos de moi
        %li
          %a.link{:href => "/all-works"} Mes réalisations
        %li
          %a.link{:href => "/contact"} Contact
        %li
          %a.link{:href => "https://www.remyrigault.pro/cv-remyrigault.pdf"} Curriculum vitæ

      %ul.nav.navbar-nav.navbar-right.icons-social
        %li
          %a.link{:href => "https://github.com/remix37"}
            %span.fa.fa-github
        %li
          %a.link{:href => "https://www.linkedin.com/in/remyrigault"}
            %span.fa.fa-linkedin
        %li
          %a.link{:href => "https://twitter.com/remyrigault"}
            %span.fa.fa-twitter
